<launch>
	<arg name="marker_size" default="6.6" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.05" />
	<arg name="cam_image_topic" default="/camera/rgb/image_raw" />
	<arg name="cam_info_topic" default="/camera/rgb/camera_info" />	
	<arg name="output_frame" default="/camera_link" />
        <arg name="HUSKY_LOGITECH" default="1" />
	<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" />
        <node pkg="my_follower" type="ar_follower.py" name="ar_follower" />
	<node pkg="rqt_image_view" type="rqt_image_view" name="rqt_image_view" />
	<include file="$(find openni2_launch)/launch/openni2.launch" />
	<include file="$(find husky_base)/launch/base.launch"/>
</launch>
